* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #ffffff;
}

html,
body {
  height: 100%;
  background-color: #121212;
}

h1 {
  font-size: 32px;
  padding: 12px;
  text-align: center;
}

button {
  padding: 8px;
  background-color: transparent;
  border: 1px solid #ffffff;
  margin-top: 12px;
  border-radius: 16px;
}

p,
h5 {
  padding: 20px;
  margin-bottom: 8px;
  text-align: justify;
}

h5 {
  font-size: 20px;
  text-align: start;
  font-weight: initial;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #121212;
  cursor: pointer;
  outline: none;
  position: relative;
  vertical-align: middle;
}

input[type="radio"]:checked {
  background-color: #121212;
  border-color: #ffffff;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.options {
  display: flex;
  gap: 24px;
  border-radius: 16px;
}

.itens-actions {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.options-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card {
  border: 1px solid #ffffff;
  margin: 24px 24px 0 24px;
  border-radius: 16px;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;
}

.card-buttons > button,
.edit-item > button {
  border: none;
}

.new-item-form {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.new-item-input {
  width: -webkit-fill-available;
}

select,
.new-item-input,
.edit-item-input {
  background: none;
  border: 1px solid #ffffff;
  padding: 8px;
  margin-top: 8px;
  color: #ffffff;
  border-radius: 16px;
  display: inherit;
}

select option {
  background-color: #121212;
  color: #ffffff;
}

select:focus {
  outline: none;
}

input::placeholder {
  color: #ffffff77;
}

button:disabled {
  background-color: #ffffff;
  color: #121212;
}

.edit-item-input {
  margin: 16px;
  width: -webkit-fill-available;
}

.edit-item {
  display: flex;
  gap: 12px;
}

.edit-item-button:disabled {
  display: none;
}
